{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block stylesheet %}
  {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}

  {# ++++++++++ Header ++++++++++ #}
  <header id="header">
    <nav id="navbar">
      <div><a href="#carousel"><img src="build/img/infinityaion.png" id="logo"></a></div>
      <div id="navbar-right">
        <a class="active one text-center tcenter" href="#carousel">Iníco</a>
        <a href="#noticias" class="two text-center tcenter">Notícias</a>
        <a href="#jogo" class="three text-center tcenter">O Jogo</a>
        <a href="#download" class="four text-center tcenter">Download</a>
        <a href="#recursos" class="five text-center tcenter">Recursos</a>
        <a href="register" class="six text-center tcenter">Registre-se</a>
        <a href="login" class="seven text-center tcenter">Log In</a>
        <a href="#contact" class="eight text-center tcenter">Contato</a>
        <hr>
      </div>
    </nav>
  </header>
  {# End Header #}

  {# ++++++++++ Carousel +++++++++++ #}
  <section id="carousel">
    
    <div id="demo" class="carousel slide" data-ride="carousel">
      <ul class="carousel-indicators">
        {% set active = true %}
        {% set slide = 0 %}
        {% for item in carousel %}
          {% if active == true %}
            <li data-target="#demo" data-slide-to="{{slide}}" class="active"></li>
            {% set active = false %}
          {% else %}
            <li data-target="#demo" data-slide-to="{{slide}}"></li>    
          {% endif %}
          {% set slide = slide + 1 %}  
        {% endfor %}
      </ul>
      <div class="carousel-inner">
        {% set active = true %}
        {% for item in carousel %}
          {% if active == true %}
            <div class="carousel-item active carousel-div" id="carousel-{{item.id}}" style="background-image: url({{ asset('uploads/cms/' ~ item.imageFull)}})">
              <div class="content">
                <div style="padding-top:200px; padding-left:200px;">
                  <h1 style="color: white">{{item.title}}</h1>
                  <h4 style="color: white;">{{item.text}}</h4>
              </div>
            </div>
            {% set active = false %}
          {% else %}
            <div class="carousel-item carousel-div" id="carousel-{{item.id}}" style="background-image: url({{ asset('uploads/cms/' ~ item.imageFull)}})">
              <div class="content">
                <div style="padding-top:200px; padding-left:200px;"><h1 style="color: white">{{item.title}}</h1></div>
                <div style="padding-left:200px;"><h4 style="color: white;">{{item.text}}</h4></div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      {# <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a> #}
    </div>
  </section>
  {# End Carousel #}

  {# ++++++++++ Noticias +++++++++++ #}
  <section id="noticias">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12 text-center">
          <h3>Notícias</h3>
        </div>
      </div>
      <div class="row">
        {% set count = 0 %}
        {% for item in notice %}
          {% if count < 4 %}
            <div class="col-lg-3 col-sm-6 col-xs-12 text-center">
              <div class="noticias-box">
                <a href="#"><img src="{{ asset('uploads/cms/' ~ item.image) }}"></a>
              </div>
            </div>
          {% endif %}
          {% set count = count + 1 %}
        {% endfor %}
      </div>
    </div>
  </section>
  {# End Noticias #}

  {# ++++++++++ O Jogo +++++++++++ #}
  <section id="jogo">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12 text-center">
          <h3>Sobre o jogo</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-sm-4 col-xs-12 text-center">
          <div class="jogo-box">
            <div class="title"><i class="fa fa-angle-double-up"></i></div>
            <div class="info"></div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-12 text-center">
          <div class="jogo-box">
            <div class="title"><i class="fa fa-angle-double-up"></i></div>
            <div class="info"></div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-12 text-center">
          <div class="jogo-box">
            <div class="title"><i class="fa fa-angle-double-up"></i></div>
            <div class="info"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-sm-4 col-xs-12 text-center">
          <div class="jogo-box">
            <div class="title"><i class="fa fa-angle-double-up"></i></div>
            <div class="info"></div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-12 text-center">
          <div class="jogo-box">
            <div class="title"><i class="fa fa-angle-double-up"></i></div>
            <div class="info"></div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-12 text-center">
          <div class="jogo-box">
            <div class="title"><i class="fa fa-angle-double-up"></i></div>
            <div class="info"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {# End Noticias #}

  {# +++++++++ Download ++++++++++ #}
  <section id="download">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 col-sm-6 col-xs-12 text-center">
          <a href="#" style="margin-top:50px;"><img src="{{ asset('build/img/d1.jpg') }}"></a>
        </div>
        <div class="col-lg-6 col-sm-6 col-xs-12 text-center">
          <a href="#" style="margin-top:50px;"><img src="{{ asset('build/img/d2.jpg') }}"></a>
        </div>
      </div>
    </div>
  </section>
  {# End Download #}

  {# ++++++++++ Shop ++++++++++ #}
  <section id="recursos">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12 text-center">
          <h3>Recursos do Jogo</h3>
        </div>
      </div>
      <div class="row">
        {% set count = 0 %}
        {% for item in resource %}
          {% if count < 6 %}
            <div class="col-lg-2 col-sm-4 col-xs-12 text-center">
              <a href="#"><img src="{{ asset('uploads/cms/' ~ item.image) }}"></a>
            </div>
          {% endif %}
          {% set count = count + 1 %}
        {% endfor %}
      </div>
    </div>
  </section>
  {# End Recursos #}

  {# +++++++++++ Footer +++++++++++ #}
  <footer id="footer">
    <div class="text-center">
      <h3>Design By Jorge Monteiro</h3>
    </div>
  </footer>
  {# End Footer #}
{% endblock %}
